@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .listItem {
        @apply px-4 dark:text-white lg:pl-0 pl-10 mx-1 lg:py-1 py-2 lg:text-black font-besicFont hover:bg-sky-900 dark:hover:bg-slate-800 dark:lg:hover:bg-transparent lg:hover:bg-transparent
    };
    .InputData{
        @apply input w-full focus:outline-none input-bordered font-besicFont focus:border-sky-800 
    }
    .buttonPrimary{
        @apply bg-gradient-to-r from-gradientPrimaryLeft to-gradientPrimaryRight
    }
    .componetGradient{
        @apply bg-gradient-to-r from-gradientComponetLeft to-gradientComponetRight
    }
    .dashboardnavbar{
        @apply border-b-2 hover:bg-sky-800 hover:rounded-lg duration-150 capitalize
    }
    .dropdowntoggle{
        @apply transition-all duration-300 componetGradient absolute w-full rounded-lg
    }
}

:root{
    max-width: 1440px;
    margin-inline: auto;
    background-color:#F5F5FD;
    font-family: 'Tinos', serif;
}
